<main>
    <h1>Bienvenidos a Socket</h1>
    <div id="mensajes">

    </div>
    <input type="text" placeholder="Ingrese el mensaje" name="mensaje"/>
    
</main>

<script src="/socket.io/socket.io.js"></script>
<script src="assets/js/index.js"></script>

<script>
    const input = document.querySelector('#input')
</script>